.arrowRight {
    display: flex;
    width: 15px;
    height: 15px;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
}

.icon {
display: flex;
    padding: 6px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 5px;
    background: var(--gray-300, #DEE2E6);
}

.section-icon {
    display: flex;
    align-items: center;
    gap: 5px;

}